<div class="login-content" ng-controller="LoginController">
    <!-- Login -->
    <div class="lc-block toggled" id="l-login">
        <div class="lcb-form">
            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                <div class="fg-line">
                    <input type="text" class="form-control" placeholder="Email address" ng-model="user.email">
                </div>
            </div>

            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
                <div class="fg-line">
                    <input type="password" class="form-control" placeholder="Password" ng-model="user.password">
                </div>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-click="automaticLogin()"  ng-if="!isAutomaticLogin">
                    <input type="checkbox" ng-click="automaticLogin()"  ng-if="isAutomaticLogin" checked>
                    <i class="input-helper"></i>
                    Keep me signed in
                </label>
            </div>

            <a href="" class="btn btn-login btn-success btn-float" ng-click="loginUser(user)"><i class="zmdi zmdi-arrow-forward"></i></a>
            <div ng-show="successMessage !== ''"class="alert alert-success"  role="alert">{{successMessage}}</div>
            <div ng-show="errorMessage !== ''" class="alert alert-danger"  role="alert">{{errorMessage}}</div>
        </div>

        <div class="lcb-navigation">
            <!--                <a href="" data-ma-action="login-switch" data-ma-block="#l-forget-password" ng-click="onGoToForgotPasswordView()">Forgot Password</a>-->
            <a href=""  data-ma-action="login-switch" data-ma-block="#l-forget-password" ng-click="onGoToForgotPasswordView()" style="width: 150px; padding:6px; text-align: center;" >Forgot Password ?</a>
        </div>
    </div>



    <!-- Forgot Password -->
    <div class="lc-block" id="l-forget-password">
        <div class="lcb-form">
            <p class="text-left">Enter your email address to reset your password.</p>

            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                <div class="fg-line">
                    <input type="text" class="form-control" placeholder="Email Address" ng-model="user.email">
                </div>
            </div>

            <a href="" class="btn btn-login btn-success btn-float" ng-click="sendRessetPasswordEmail(user)" ><i class="zmdi zmdi-check"></i></a>

            <div ng-show="successMessage !== ''"class="alert alert-success"  role="alert">{{successMessage}}</div>
            <div ng-show="errorMessage !== ''" class="alert alert-danger"  role="alert">{{errorMessage}}</div>
        </div>

        <div class="lcb-navigation">
            <a href="" data-ma-action="login-switch" data-ma-block="#l-login" ng-click="onGoToLoginView()"><i class="zmdi zmdi-long-arrow-right"></i> <span>Sign in</span></a>
        </div>
    </div>
</div>
