<div class="card reset-password">
    <div class="card-header">
        <h2>Reset your password
            <small>
                Set your new password.
            </small>
        </h2>
    </div>

    <div class="card-body card-padding">
        <form class="row" role="form">
            <div class="col-sm-3">
                <div class="form-group fg-line">
                    <label class="sr-only" for="holdPassword">last password</label>
                    <input type="password"  class="form-control input-sm" id="holdPassword" ng-model="userPassword.newPassword" placeholder="new password">
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group fg-line">
                    <label class="sr-only" for="confirmPassword">new password</label>
                    <input type="password" class="form-control input-sm" id="confirmPassword" ng-model="userPassword.confirmPassword" placeholder="confirm your password">
                </div>
            </div>

            <div class="col-sm-4">
                <button type="submit" class="btn btn-primary btn-sm m-t-5 waves-effect" ng-click="reset(userPassword)" >Ok</button>
            </div>
        </form>
        <div ng-show="logSuccess"class="alert alert-success" style="margin-top:2%" role="alert">{{logMessage}}</div>
        <div ng-show="logError" class="alert alert-danger" style="margin-top:2%" role="alert">{{logMessage}}</div>
    </div>
</div>
